In [1]:
# importing the required modules and libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Reading in the dataset to clean and work on it.

In [2]:
cafe_sales = pd.read_csv("D:\\Data_Science\\Data_Cleaning\\Cafe_Sales_Data_Cleaning\\dataset\\dirty_cafe_sales.csv")

In [3]:
cafe_sales.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [4]:
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9862 non-null   object
 3   Price Per Unit    9821 non-null   object
 4   Total Spent       9827 non-null   object
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9841 non-null   object
dtypes: object(8)
memory usage: 625.1+ KB

#### Changing the datatype of columns[Quantity, Price Per Unit, Total Spent, Transaction Date]

In [5]:
# changing to numeric
cafe_sales["Quantity"] = pd.to_numeric(cafe_sales["Quantity"], errors = "coerce")
cafe_sales["Price Per Unit"] = pd.to_numeric(cafe_sales["Price Per Unit"], errors = "coerce")
cafe_sales["Total Spent"] = pd.to_numeric(cafe_sales["Total Spent"], errors = "coerce")

In [6]:
# changing to datetime
cafe_sales["Transaction Date"] = pd.to_datetime(cafe_sales["Transaction Date"], errors = "coerce")

In [7]:
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9521 non-null   float64
 3   Price Per Unit    9467 non-null   float64
 4   Total Spent       9498 non-null   float64
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 625.1+ KB

#### Filling the columns[Quantity, Price Per Unit, Total Spent]

In [8]:
cafe_sales.sample(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
6434,TXN_7893709,ERROR,4.0,3.0,12.0,Credit Card,NaN,2023-03-14
6885,TXN_6047710,Smoothie,3.0,4.0,12.0,NaN,Takeaway,2023-06-16
5412,TXN_7939011,Juice,5.0,3.0,15.0,UNKNOWN,In-store,2023-04-07
5925,TXN_5151706,Smoothie,1.0,4.0,4.0,NaN,Takeaway,2023-03-01
9039,TXN_4843989,Tea,4.0,1.5,6.0,Digital Wallet,Takeaway,2023-09-30
7857,TXN_6128086,Tea,4.0,NaN,6.0,Digital Wallet,Takeaway,2023-12-26
2405,TXN_2092306,Juice,4.0,3.0,NaN,ERROR,In-store,2023-04-01
1658,TXN_3330377,ERROR,5.0,2.0,10.0,NaN,NaN,2023-05-08
9081,TXN_7179922,Cake,2.0,3.0,6.0,NaN,In-store,2023-09-05
5974,TXN_7321946,Cake,3.0,3.0,9.0,Cash,Takeaway,2023-02-12
1528,TXN_4413506,Juice,4.0,3.0,12.0,Digital Wallet,In-store,2023-10-29
1183,TXN_2400518,Juice,3.0,3.0,9.0,Credit Card,NaN,2023-02-04
7032,TXN_7334418,Cookie,2.0,1.0,2.0,Digital Wallet,UNKNOWN,2023-03-24
2263,TXN_3873656,Coffee,3.0,2.0,6.0,NaN,Takeaway,2023-09-30
6110,TXN_4142781,Sandwich,5.0,4.0,20.0,Digital Wallet,Takeaway,2023-01-30
2060,TXN_6169248,Juice,5.0,3.0,15.0,Credit Card,NaN,2023-08-12
5953,TXN_5537621,Juice,4.0,3.0,12.0,Digital Wallet,Takeaway,2023-02-28
7106,TXN_6794035,Sandwich,1.0,4.0,4.0,Digital Wallet,NaN,2023-11-04
346,TXN_1846004,Juice,3.0,3.0,9.0,Cash,In-store,2023-05-21
8719,TXN_5270067,Cake,3.0,3.0,9.0,Digital Wallet,UNKNOWN,2023-03-09

In [9]:
# function to fill columns
def fill_columns(row):
    bool_sr = pd.Series([pd.isna(row["Quantity"]), pd.isna(row["Price Per Unit"]), pd.isna(row["Total Spent"])])
    false_count = bool_sr.value_counts()[False]

    if false_count == 2:
        if pd.isna(row["Quantity"]):
            row["Quantity"] = row["Total Spent"] / row["Price Per Unit"]
        elif pd.isna(row["Price Per Unit"]):
            row["Price Per Unit"]  = row["Total Spent"] / row["Quantity"]
        else:
            row["Total Spent"] = row["Price Per Unit"] * row["Quantity"]
    
    return row

In [10]:
# filling the columns by applying the fill_columns function
cafe_sales = cafe_sales.apply(fill_columns, axis = 1)

In [11]:
# checking
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    10000 non-null  object
 1   Item              9667 non-null   object
 2   Quantity          9962 non-null   float64
 3   Price Per Unit    9962 non-null   float64
 4   Total Spent       9960 non-null   float64
 5   Payment Method    7421 non-null   object
 6   Location          6735 non-null   object
 7   Transaction Date  9540 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 625.1+ KB

#### Dropping not required row which contain null values in colums[Quantity, Price Per Unit, Total Spent]

In [12]:
cafe_sales.dropna(subset = ["Quantity", "Price Per Unit", "Total Spent"], how = "any", inplace = True)

In [13]:
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9942 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9942 non-null   object
 1   Item              9611 non-null   object
 2   Quantity          9942 non-null   float64
 3   Price Per Unit    9942 non-null   float64
 4   Total Spent       9942 non-null   float64
 5   Payment Method    7378 non-null   object
 6   Location          6693 non-null   object
 7   Transaction Date  9485 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 699.0+ KB

In [14]:
cafe_sales.sample(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
8298,TXN_5568416,Cake,5.0,3.0,15.0,Credit Card,UNKNOWN,2023-09-06
9697,TXN_2003488,Juice,3.0,3.0,9.0,NaN,Takeaway,2023-09-25
4010,TXN_1224087,Coffee,5.0,2.0,10.0,Digital Wallet,Takeaway,2023-03-20
6201,TXN_9300618,Tea,3.0,1.5,4.5,Credit Card,NaN,2023-03-06
6234,TXN_3283631,Sandwich,2.0,4.0,8.0,Credit Card,In-store,2023-03-15
5112,TXN_7089316,Tea,2.0,1.5,3.0,Cash,In-store,2023-11-27
3051,TXN_4628310,Juice,4.0,3.0,12.0,Credit Card,Takeaway,2023-04-20
1840,TXN_2195218,Cake,4.0,3.0,12.0,Digital Wallet,In-store,2023-09-10
4251,TXN_6953244,Smoothie,5.0,4.0,20.0,Cash,NaN,2023-09-13
304,TXN_7922392,Sandwich,3.0,4.0,12.0,NaN,NaN,2023-05-03
2408,TXN_5889912,Salad,1.0,5.0,5.0,Cash,In-store,2023-09-26
8541,TXN_2585392,Salad,4.0,5.0,20.0,NaN,NaN,2023-07-12
6620,TXN_4805204,Tea,5.0,1.5,7.5,Digital Wallet,In-store,2023-04-25
6482,TXN_3295578,ERROR,1.0,3.0,3.0,UNKNOWN,In-store,2023-05-04
8843,TXN_9364172,Tea,4.0,1.5,6.0,NaN,Takeaway,2023-03-18
681,TXN_1079239,Smoothie,1.0,4.0,4.0,NaN,Takeaway,2023-02-08
5946,TXN_2551378,Tea,2.0,1.5,3.0,NaN,Takeaway,2023-10-27
4369,TXN_4168771,Coffee,5.0,2.0,10.0,Digital Wallet,NaN,2023-08-02
4865,TXN_6373380,Coffee,4.0,2.0,8.0,Cash,In-store,2023-07-21
4555,TXN_9082461,Cake,5.0,3.0,15.0,Digital Wallet,In-store,2023-05-30

#### Cleaning and filling the column[Item]

In [15]:
cafe_sales["Item"].value_counts()

Item
Juice       1167
Coffee      1158
Salad       1144
Cake        1134
Sandwich    1122
Smoothie    1089
Cookie      1084
Tea         1081
UNKNOWN      342
ERROR        290
Name: count, dtype: int64

In [16]:
# replacing unusual values with nan
cafe_sales["Item"].replace({"UNKNOWN" : np.nan, "ERROR" : np.nan}, inplace = True)

In [17]:
cafe_sales["Item"].value_counts()

Item
Juice       1167
Coffee      1158
Salad       1144
Cake        1134
Sandwich    1122
Smoothie    1089
Cookie      1084
Tea         1081
Name: count, dtype: int64

In [18]:
# mapper_df - used to fill the column[Item]
mapper_df = cafe_sales.loc[cafe_sales["Item"].notna(), ["Item", "Price Per Unit"]].drop_duplicates().reset_index(drop = True)

In [19]:
mapper_df

       Item  Price Per Unit
0    Coffee             2.0
1      Cake             3.0
2    Cookie             1.0
3     Salad             5.0
4  Smoothie             4.0
5  Sandwich             4.0
6     Juice             3.0
7       Tea             1.5

In [20]:
# function to fill the column[Item]
def fill_items(row, mapper_df):
    if pd.isna(row["Item"]):
        row["Item"] = mapper_df.loc[mapper_df["Price Per Unit"] == row["Price Per Unit"], "Item"].iloc[0]

    return row

In [21]:
# filling column[Item] by applying fill_items function
cafe_sales = cafe_sales.apply(fill_items, args = (mapper_df,), axis = 1)

In [22]:
# checking
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9942 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9942 non-null   object
 1   Item              9942 non-null   object
 2   Quantity          9942 non-null   float64
 3   Price Per Unit    9942 non-null   float64
 4   Total Spent       9942 non-null   float64
 5   Payment Method    7378 non-null   object
 6   Location          6693 non-null   object
 7   Transaction Date  9485 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 699.0+ KB

In [23]:
cafe_sales.isna().sum()

Transaction ID         0
Item                   0
Quantity               0
Price Per Unit         0
Total Spent            0
Payment Method      2564
Location            3249
Transaction Date     457
dtype: int64

In [24]:
cafe_sales.sample(20)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
3908,TXN_5875188,Salad,3.0,5.0,15.0,Digital Wallet,In-store,2023-07-09
2536,TXN_2670487,Coffee,3.0,2.0,6.0,Digital Wallet,NaN,2023-10-20
3109,TXN_5086795,Salad,1.0,5.0,5.0,Cash,In-store,2023-04-29
3464,TXN_7630912,Juice,2.0,3.0,6.0,Credit Card,NaN,2023-01-04
5879,TXN_1522176,Smoothie,1.0,4.0,4.0,Digital Wallet,Takeaway,2023-04-29
3751,TXN_4807265,Sandwich,3.0,4.0,12.0,Digital Wallet,ERROR,2023-11-19
9143,TXN_4630633,Sandwich,1.0,4.0,4.0,UNKNOWN,Takeaway,2023-10-22
7963,TXN_5639485,Cookie,3.0,1.0,3.0,Credit Card,NaN,2023-07-02
3764,TXN_2833327,Coffee,3.0,2.0,6.0,Cash,NaN,2023-07-05
8282,TXN_7251037,Salad,3.0,5.0,15.0,Credit Card,In-store,2023-08-17
6868,TXN_6670371,Tea,3.0,1.5,4.5,Credit Card,Takeaway,2023-05-01
7257,TXN_4972634,Sandwich,5.0,4.0,20.0,Credit Card,In-store,2023-07-22
7662,TXN_7416669,Tea,3.0,1.5,4.5,NaN,NaN,2023-09-28
16,TXN_3765707,Sandwich,1.0,4.0,4.0,NaN,NaN,2023-06-10
5840,TXN_2601923,Cake,4.0,3.0,12.0,Cash,Takeaway,2023-07-24
476,TXN_7661609,Cake,1.0,3.0,3.0,NaN,In-store,2023-11-29
7628,TXN_8659330,Tea,4.0,1.5,6.0,Credit Card,Takeaway,2023-08-20
1835,TXN_1439390,Juice,4.0,3.0,12.0,NaN,In-store,2023-02-14
7706,TXN_2379467,Coffee,5.0,2.0,10.0,NaN,NaN,2023-04-01
3066,TXN_8147057,Juice,1.0,3.0,3.0,Digital Wallet,In-store,2023-08-21

#### Cleaning and filling the column[Payment Method]

In [25]:
cafe_sales["Payment Method"].value_counts()

Payment Method
Digital Wallet    2280
Credit Card       2260
Cash              2244
ERROR              302
UNKNOWN            292
Name: count, dtype: int64

In [26]:
# replacing unusual values with nan for ease
cafe_sales["Payment Method"].replace({"UNKNOWN" : np.nan, "ERROR" : np.nan}, inplace = True)

In [27]:
cafe_sales["Payment Method"].value_counts(dropna = False)

Payment Method
NaN               3158
Digital Wallet    2280
Credit Card       2260
Cash              2244
Name: count, dtype: int64

In [28]:
# filling
cafe_sales["Payment Method"].fillna(cafe_sales["Payment Method"].mode()[0], inplace = True)

In [29]:
# checking
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9942 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9942 non-null   object
 1   Item              9942 non-null   object
 2   Quantity          9942 non-null   float64
 3   Price Per Unit    9942 non-null   float64
 4   Total Spent       9942 non-null   float64
 5   Payment Method    9942 non-null   object
 6   Location          6693 non-null   object
 7   Transaction Date  9485 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 699.0+ KB

#### Cleaning and filling the column[Location]

In [30]:
cafe_sales["Location"].value_counts(dropna = False)

Location
NaN         3249
Takeaway    3004
In-store    2998
ERROR        355
UNKNOWN      336
Name: count, dtype: int64

In [31]:
# replacing unusual values with nan for ease
cafe_sales["Location"].replace({"UNKNOWN" : np.nan, "ERROR" : np.nan}, inplace = True)

In [32]:
# filling
cafe_sales["Location"].fillna(cafe_sales["Location"].mode()[0], inplace = True)

In [33]:
# checking
cafe_sales["Location"].value_counts(dropna = False)

Location
Takeaway    6944
In-store    2998
Name: count, dtype: int64

In [35]:
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9942 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9942 non-null   object
 1   Item              9942 non-null   object
 2   Quantity          9942 non-null   float64
 3   Price Per Unit    9942 non-null   float64
 4   Total Spent       9942 non-null   float64
 5   Payment Method    9942 non-null   object
 6   Location          9942 non-null   object
 7   Transaction Date  9485 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 699.0+ KB

In [34]:
cafe_sales.sample(30)

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
4561,TXN_7442492,Salad,5.0,5.0,25.0,Credit Card,Takeaway,2023-07-23
6627,TXN_2361290,Salad,4.0,5.0,20.0,Cash,Takeaway,2023-07-16
5336,TXN_9910333,Cake,2.0,3.0,6.0,Digital Wallet,In-store,2023-09-15
2125,TXN_8023817,Juice,4.0,3.0,12.0,Digital Wallet,Takeaway,2023-05-08
3811,TXN_1518379,Juice,4.0,3.0,12.0,Digital Wallet,In-store,2023-08-12
1989,TXN_7192920,Smoothie,4.0,4.0,16.0,Digital Wallet,Takeaway,2023-02-28
7068,TXN_3661311,Juice,2.0,3.0,6.0,Digital Wallet,Takeaway,2023-04-30
9392,TXN_9697670,Cake,3.0,3.0,9.0,Cash,Takeaway,2023-12-29
4250,TXN_5279972,Smoothie,4.0,4.0,16.0,Credit Card,Takeaway,2023-01-07
2079,TXN_6345733,Coffee,1.0,2.0,2.0,Digital Wallet,In-store,2023-11-26
6707,TXN_9433035,Sandwich,1.0,4.0,4.0,Cash,In-store,2023-03-26
7612,TXN_9041473,Smoothie,2.0,4.0,8.0,Digital Wallet,Takeaway,NaT
8426,TXN_1603186,Cake,3.0,3.0,9.0,Cash,Takeaway,2023-10-13
8646,TXN_5974796,Sandwich,4.0,4.0,16.0,Cash,In-store,2023-11-09
447,TXN_3730415,Cake,4.0,3.0,12.0,Credit Card,Takeaway,2023-04-09
1328,TXN_3562350,Coffee,2.0,2.0,4.0,Digital Wallet,Takeaway,2023-02-04
9517,TXN_3455103,Salad,1.0,5.0,5.0,Digital Wallet,Takeaway,2023-04-22
5846,TXN_6289180,Juice,1.0,3.0,3.0,Cash,In-store,2023-03-14
1610,TXN_3800253,Cake,2.0,3.0,6.0,Cash,Takeaway,2023-01-15
8207,TXN_1434598,Sandwich,5.0,4.0,20.0,Cash,Takeaway,2023-11-18
8111,TXN_3241510,Tea,5.0,1.5,7.5,Credit Card,Takeaway,2023-10-05
6284,TXN_3930990,Tea,4.0,1.5,6.0,Digital Wallet,Takeaway,2023-02-27
9509,TXN_1985278,Sandwich,3.0,4.0,12.0,Digital Wallet,In-store,2023-02-13
4439,TXN_8917822,Cake,2.0,3.0,6.0,Digital Wallet,Takeaway,2023-12-12
7255,TXN_6598343,Juice,4.0,3.0,12.0,Digital Wallet,Takeaway,2023-07-10
6085,TXN_2477021,Cookie,4.0,1.0,4.0,Credit Card,In-store,NaT
7025,TXN_2770536,Smoothie,2.0,4.0,8.0,Digital Wallet,In-store,2023-11-03
6395,TXN_5963749,Cake,1.0,3.0,3.0,Digital Wallet,In-store,2023-11-04
5130,TXN_3982146,Coffee,3.0,2.0,6.0,Digital Wallet,In-store,2023-07-09
8345,TXN_7908929,Tea,2.0,1.5,3.0,Digital Wallet,Takeaway,2023-11-18

#### Filling column[Transaction Date]

In [36]:
cafe_sales["Transaction Date"].value_counts(dropna = True)

Transaction Date
2023-06-16    40
2023-02-06    40
2023-03-13    39
2023-07-24    39
2023-09-21    39
              ..
2023-09-24    15
2023-04-27    15
2023-02-17    14
2023-07-22    14
2023-03-11    14
Name: count, Length: 365, dtype: int64

In [37]:
cafe_sales["Transaction Date"].fillna(cafe_sales["Transaction Date"].mode()[0], inplace = True)

In [38]:
cafe_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9942 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    9942 non-null   object
 1   Item              9942 non-null   object
 2   Quantity          9942 non-null   float64
 3   Price Per Unit    9942 non-null   float64
 4   Total Spent       9942 non-null   float64
 5   Payment Method    9942 non-null   object
 6   Location          9942 non-null   object
 7   Transaction Date  9942 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 699.0+ KB

In [40]:
# saving 
cafe_sales.to_csv("D:\\Data_Science\\Data_Cleaning\\Cafe_Sales_Data_Cleaning\\dataset\\cleaned_cafe_sales.csv", index = False)

## Dataset Is Cleaned !!