In [1]:
# importing the required modules
import pandas as pd
import numpy as np

##### Reading in the dataset.

In [3]:
call_list = pd.read_excel("D:\\Data_Analysis\\Data_Cleaning\\Customer_Call_List_Data_Cleaning\\dataset\\Customer Call List.xlsx")

call_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

##### Dropping duplicate rows.

In [4]:
call_list.drop_duplicates(inplace = True)
call_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [5]:
call_list.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         20 non-null     int64
 1   First_Name         20 non-null     object
 2   Last_Name          19 non-null     object
 3   Phone_Number       18 non-null     object
 4   Address            20 non-null     object
 5   Paying Customer    20 non-null     object
 6   Do_Not_Contact     16 non-null     object
 7   Not_Useful_Column  20 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

##### Cleaning extra characters (by stripping) in the column[Last_Name].

In [6]:
call_list["Last_Name"] = call_list["Last_Name"].str.strip("./_")

In [7]:
call_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

##### Formatting the phone_number column.

In [10]:
call_list["Phone_Number"] = call_list["Phone_Number"].str.replace("[^0-9]", "", regex = True)

In [11]:
call_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,1235455421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,1236439775,93 West Main Street,No,Yes,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,1235432345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,8766783469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,3047622467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,8766783469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,1235455421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,1235432345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,8766783469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,3047622467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,1235455421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,1236439775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,8766783469,"910 Tatooine Road, Tatooine",Yes,N,True

In [15]:
call_list.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, 0 to 19
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         20 non-null     int64
 1   First_Name         20 non-null     object
 2   Last_Name          19 non-null     object
 3   Phone_Number       15 non-null     object
 4   Address            20 non-null     object
 5   Paying Customer    20 non-null     object
 6   Do_Not_Contact     16 non-null     object
 7   Not_Useful_Column  20 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [18]:
call_list["Phone_Number"] = call_list["Phone_Number"].apply(lambda x: f"{x[0:3]}-{x[3:6]}-{x[6:]}" if len(str(x)) == 10 else np.nan)

In [19]:
call_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,NaN,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,NaN,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,NaN,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,True

##### Cleaning the address column.

In [25]:
extra_add_data = call_list["Address"].str.split(", ").str[1] # getting data for the new column
call_list.insert(5, "Extra_Address_Info", extra_add_data)

call_list["Address"] = call_list["Address"].str.split(", ").str[0]

In [27]:
call_list["Extra_Address_Info"].fillna("No Extra Information", inplace = True)

In [28]:
call_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Extra_Address_Info,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,Yes,No,True
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No Extra Information,No,Yes,False
2,1003,Walter,White,NaN,298 Drugs Driveway,No Extra Information,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Pennsylvania,Yes,Y,True
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,No Extra Information,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,No Extra Information,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No Extra Information,No,No,False
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No Extra Information,N,No,False
8,1009,Gandalf,NaN,NaN,123 Middle Earth,No Extra Information,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,25th Main Street,New York,Yes,No,True
10,1011,Samwise,Gamgee,NaN,612 Shire Lane,Shire,Yes,No,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,No Extra Information,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,No Extra Information,Yes,N,False
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,No Extra Information,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No Extra Information,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No Extra Information,No,N,False
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,Yes,No,False
17,1018,Clark,Kent,NaN,3498 Super Lane,No Extra Information,Y,NaN,True
18,1019,Creed,Braton,NaN,N/a,No Extra Information,N/a,Yes,True
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,Yes,N,True

Replacing some unusual data with usual data.

In [31]:
call_list["Paying Customer"].replace({"Y" : "Yes", "N" : "No"}, inplace = True)
call_list["Do_Not_Contact"].replace({"Y" : "Yes", "N" : "No"}, inplace = True)

In [32]:
call_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Extra_Address_Info,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,Yes,No,True
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No Extra Information,No,Yes,False
2,1003,Walter,White,NaN,298 Drugs Driveway,No Extra Information,No,NaN,True
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Pennsylvania,Yes,Yes,True
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,No Extra Information,Yes,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,No Extra Information,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No Extra Information,No,No,False
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No Extra Information,No,No,False
8,1009,Gandalf,NaN,NaN,123 Middle Earth,No Extra Information,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,25th Main Street,New York,Yes,No,True
10,1011,Samwise,Gamgee,NaN,612 Shire Lane,Shire,Yes,No,True
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,No Extra Information,Yes,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,No Extra Information,Yes,No,False
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,No Extra Information,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No Extra Information,No,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No Extra Information,No,No,False
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,Yes,No,False
17,1018,Clark,Kent,NaN,3498 Super Lane,No Extra Information,Yes,NaN,True
18,1019,Creed,Braton,NaN,N/a,No Extra Information,N/a,Yes,True
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,Yes,No,True

##### Deleting the not useful column.

In [33]:
call_list.drop(columns = ["Not_Useful_Column"], inplace = True)

In [34]:
call_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Extra_Address_Info,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No Extra Information,No,Yes
2,1003,Walter,White,NaN,298 Drugs Driveway,No Extra Information,No,NaN
3,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Pennsylvania,Yes,Yes
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,No Extra Information,Yes,No
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,No Extra Information,Yes,Yes
6,1007,Jeff,Winger,NaN,1209 South Street,No Extra Information,No,No
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No Extra Information,No,No
8,1009,Gandalf,NaN,NaN,123 Middle Earth,No Extra Information,Yes,NaN
9,1010,Peter,Parker,123-545-5421,25th Main Street,New York,Yes,No
10,1011,Samwise,Gamgee,NaN,612 Shire Lane,Shire,Yes,No
11,1012,Harry,Potter,NaN,2394 Hogwarts Avenue,No Extra Information,Yes,NaN
12,1013,Don,Draper,123-543-2345,2039 Main Street,No Extra Information,Yes,No
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,No Extra Information,Yes,No
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No Extra Information,No,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No Extra Information,No,No
16,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,No Extra Information,Yes,NaN
18,1019,Creed,Braton,NaN,N/a,No Extra Information,N/a,Yes
19,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,Yes,No

##### Final dropping all rows of customers who have no contact number.

In [37]:
call_list.dropna(subset = ["Phone_Number"], how = "all", inplace = True)
call_list.reset_index(drop = True, inplace = True)

In [38]:
call_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CustomerID          13 non-null     int64
 1   First_Name          13 non-null     object
 2   Last_Name           13 non-null     object
 3   Phone_Number        13 non-null     object
 4   Address             13 non-null     object
 5   Extra_Address_Info  13 non-null     object
 6   Paying Customer     13 non-null     object
 7   Do_Not_Contact      13 non-null     object
dtypes: int64(1), object(7)
memory usage: 964.0+ bytes

In [39]:
call_list

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Extra_Address_Info,Paying Customer,Do_Not_Contact
0,1001,Frodo,Baggins,123-545-5421,123 Shire Lane,Shire,Yes,No
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No Extra Information,No,Yes
2,1004,Dwight,Schrute,123-543-2345,980 Paper Avenue,Pennsylvania,Yes,Yes
3,1005,Jon,Snow,876-678-3469,123 Dragons Road,No Extra Information,Yes,No
4,1006,Ron,Swanson,304-762-2467,768 City Parkway,No Extra Information,Yes,Yes
5,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,No Extra Information,No,No
6,1010,Peter,Parker,123-545-5421,25th Main Street,New York,Yes,No
7,1013,Don,Draper,123-543-2345,2039 Main Street,No Extra Information,Yes,No
8,1014,Leslie,Knope,876-678-3469,343 City Parkway,No Extra Information,Yes,No
9,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,No Extra Information,No,No
10,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No Extra Information,No,No
11,1017,Michael,Scott,123-643-9775,121 Paper Avenue,Pennsylvania,Yes,No
12,1020,Anakin,Skywalker,876-678-3469,910 Tatooine Road,Tatooine,Yes,No

In [40]:
call_list.isna().sum()

CustomerID            0
First_Name            0
Last_Name             0
Phone_Number          0
Address               0
Extra_Address_Info    0
Paying Customer       0
Do_Not_Contact        0
dtype: int64

##### Saving the cleaned dataset.

In [41]:
call_list.to_csv("D:\\Data_Analysis\\Data_Cleaning\\Customer_Call_List_Data_Cleaning\\dataset\\Customer Call List Cleaned.csv", index = False)

### Cleaned !!